* {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.bodyLight {
    background-color: #f0fff0;
    background-image: url(/img/redSplash1.jpg);
    display: flex;
    flex-direction: column;
}