@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

.denial {
    background-color: #e6eae6;
    background-image: url(/img/denial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    /* width: 100vw; */
}

.main {
    height: 80%;
    margin-bottom: 333px;
}

.toggleTheme {
    margin-top: 300px;
    padding-top: 12px;
    width: 60px;
    height: 30px;
    background-color: #75797b;
    color: honeydew;
    font-size: large;
    border: 4px groove silver;
    border-radius: 8px;
    cursor:help;  
       
}

.toggleTheme:hover {
    width: 70px;
    height: 38px;
    transition: 0.5s;
    font-size: larger;
    font-weight: 600;
}

.header {
    /*row-gap: 50px;*/
    width: 100vw;
}

.anger {
    background-image: url(/img/anger1.jpg);
    background-repeat: no-repeat;
}

.bargaining {
    background-image: url(/img/bargaining1.png);
    background-repeat: no-repeat;
}

.depression {
    background-image: url(/img/depression1.png);
    background-repeat: no-repeat;
}

.acceptanceQ {
    background-image: url(/img/spaceSplash2.jpg);
    background-repeat: no-repeat;
}

.acceptanceUnlock{
    background-image: url(/img/spaceSplash.jpg);
    background-repeat: no-repeat;
}

.footerText {
    color: #5b697600;
}

